.App {
  text-align: center;
}



.App-header {
  background-color:#f5dfbe;
  border-radius:10px;
  border: 3px solid #95babb;
  padding: 20px;
  color: #522c1B;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
}
.heading{
  font-family: 'Abril Fatface', cursive;
  letter-spacing:2px;
}

.App-intro {
  font-size: large;
  padding:10px;
  margin-top:10px;
  background-color:white;
  border: 5px solid #95babb;
  border-radius:10px;
}
.beerListPicker{
  font-weight: bold;
  border: 3px solid #95babb;
}
.beerListItem{
   background-color:#f5dfbe;
  color:#522c1B;
}
.beerViewPane{
  padding:10px;
  background-color: white;
  border: 3px solid #95babb;
  border-radius: 10px;
}
.divider{
  background-color:#522c1B;
  height: 4px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
