.App {
  text-align: center;
}



.App-header {
  background-color: #522c1b;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Abril Fatface', serif;
}
h2{
  font-family: 'Abril Fatface', serif;
}

.App-intro {
  font-size: large;
}
.beerListPicker{
  font-weight: bold;

}
.beerListItem{
   background-color:#f5dfbe;
  color:#522c1B;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
